# 目标设备
CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r3s=y

# 基础包
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_nft-fullcone=y
CONFIG_PACKAGE_luci-app-istorex=y
CONFIG_PACKAGE_luci-app-store=y

# 网络驱动
CONFIG_PACKAGE_kmod-r8169=y
CONFIG_PACKAGE_kmod-igb=y

# 根据参数动态调整的配置（在工作流中追加）
# CONFIG_PACKAGE_kmod-shortcut-fe=y
# CONFIG_PACKAGE_kmod-shortcut-fe-cm=y
